@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #302F2B;
  --brand-navy: #0D0D3B;
  --brand-navy-light: #192a3d;
  --brand-steel: #3A4F66;
  --brand-orange: #F58634;
  --brand-orange-dark: #fe6a00;
  --brand-gray: #f2f5f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-navy: var(--brand-navy);
  --color-brand-navy-light: var(--brand-navy-light);
  --color-brand-steel: var(--brand-steel);
  --color-brand-orange: var(--brand-orange);
  --color-brand-orange-dark: var(--brand-orange-dark);
  --color-brand-gray: var(--brand-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
